 .signup-form{
  padding: 50px;
 }
.delete{
  color: red;
}
.h-100{
  height: 41.2px !important;
}
.form-title{
  text-align: start;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 50px;
}
.text-danger{
  font-size: 14px !important;
  height: 20px !important;
  /* position: absolute !important; */
  display: block !important;
}
.form-group{
  position: relative;
}
label{
  position: absolute;
  left: 0;
  top: 25%;
}
input {
  width: 100%;
  display: block;
  border: none ;
  border-color: #999;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
  outline: none;
}
.term-service {
    font-size: 13px;
    color: #222;
}
.label-agree-term{
  top: -56%;
  left: 7%;
} 
.agree-term{
  width: 20px;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.form-submit{
  background-color: #6DABE4 !important;
}
.signup-image{
  /* margin-top: 0px; */
  margin: 0 55px;
  padding-top: 80px;
}  
 .child{
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 15px 16px 17px rgba(240, 238, 238, 0.5);
  /* padding: 50px 20px; */
 }
 @media screen and (max-width : 768px) and (min-width : 768px){
  .child{
    margin-top: 20px;
  }
  .form-submit{
    text-align: center !important;
    float: unset !important;
  }
  .form-title{
    text-align: center;
  }
  .col-md-6{
    width: 100%;
  }
  .col-md-4{
    width: 100%;
  }
 }
 @media screen and (max-width : 450px) {
  .child{
    margin-top: 10px;
  }
  .col-md-6{
    width: 100%;
  }
  .col-md-4{
    width: 100%;
  }
  .signup-image{
    margin: 0;
  }
  img{
    width: 150px;
  }
 }